<!DOCTYPE>
<html>
    <head>
        <title>Login</title>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    </head>
    <body>
        <form method="post">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password">
            <input type="submit" value="Log In">
        </form>
        {{#if error}}
            {{error}}
        {{/if}}
    </body>
</html>
